---
layout: default
title: Technical Diary of a Dummy
---

<h2>Latest Post</h2>
{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for post in yearMonth.items %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% for category in post.categories %}
            <span class="category {{ category }}">{{ category }}</span>
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
{% endfor %}


<h2>Other Publications</h2>
<h3>A set of my other technical publications</h3>
<ul>
  {% for work in site.other_works %}
    <li><a href="{{ work.url }}">{{ work.title }}</a></li>
  {% endfor %}
</ul>

